[submodule "subprojects/ceres-solver"]
	path = subprojects/ceres-solver
	url = https://github.com/ceres-solver/ceres-solver
[submodule "subprojects/CCTag"]
	path = subprojects/CCTag
	url = https://github.com/JMUWRobotics/CCTag.git
